{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <br>
  <form method="post">
    <textarea name="content" style="height: 100px; width: 400px;"></textarea>
    <br>
    <input type="submit" value="Leave comment">
  </form>

  <h3>Comments</h3>

  {% for comment in post.comments %}
    <p>
      "{{comment.content | safe}}" by {{comment.author.name}}
      {% if user.name == comment.author.name %}
        <br>  <a href="/comments/edit/{{comment.key().id()}}">edit</a> | 
              <a href="/comments/delete/{{comment.key().id()}}">delete</a>
      {% endif %}
    </p>
  {% endfor %}

{% endblock %}
