<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}

      <!-- edit -->
      (<a href="/posts/edit/{{p.key().id()}}">edit</a> |
      <!-- delete -->
      <a href="/posts/delete/{{p.key().id()}}">delete</a>)
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="post-attributes">
    <br>
    {{p.likes|length}} 

    {% if p.likes|length == 1 %}
      like
    {% else %}
      likes
    {% endif %}

    |

    <a href="/posts/{{p.key().id()}}">
      comments
    </a>
  </div>

</div>